body {
	background-color: #F7EAE8;
	font-family: sans-serif;
	font-weight: bold;
}

main {
	margin: 30px;
}

#header1 {
background-color: #75AEB5 ;
margin: -8px;
padding: 20px;
font-size: 40px;
font-family: sans-serif;
text-align: center;
color: #F38071;
text-transform: uppercase;

}

#products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 40px;
}

.divs {
	margin: 10px;
	background-color: #CBE2E3;
	width: 400px;
	border-radius: 30px ;
	font-size: 15px;
}

.imgs {
	margin: 5px auto auto 50px;
	width: 300px;
	height: 300px;

}
.imgs:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
}

#img5 {
	width: 240px;
	margin: 5px auto auto 80px;
}

#img6 {
	height: 230px;
	margin: 50px auto auto 50px;
}

.btns {
	
	background-color: #2B1048;
	border-radius: 5px;
	color: white;
	display: inline-block;
	border: none;
	text-transform: uppercase;
}

.cart {
	margin: auto auto 8px 130px;
}

.in {
	width: 60px;
}

#aboutPrdct6 {
	margin: 20px auto auto 130px;
}


#total {
	padding: 10px;
	margin: 10px auto auto auto;
	background-color: #F6F9EA;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 10px;
	border-radius: 15px;
}

#checkout {
	
	background-color: #ed3330;
	border: none;
	color: white;
	text-transform: uppercase;
	border-radius: 5px;
}
#reset {
	text-transform: uppercase;
	border: none;

}